body {
  background-color: #f8fafc; /* Dark background for dark mode */
}
.page {
  font-family: "Inter", sans-serif;
}
.page__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 20px; /* page gutter */
}
